body {
  background-color: #000;
}
:root {
  /*FONT*/
  --font-dm-sans: "DM Sans", sans-serif;

  /*COLORS*/
  --bg-color: #000;
  --main-color: #121212;
  --secondary-color: #242424;
  --text-color: #b3b3b3;
  --bg-icon: #131313;
  --bg-arrow-color: rgba(0, 0, 0, 0.7);
}

body {
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-dm-sans);
  letter-spacing: 1.2;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--text-color);
  height: 30px;
}

.white__button {
  background-color: #fff;
  border: none;
  border-radius: 25px;
  color: var(--main-color);
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  width: fit-content;
  transition: 0.4s;
}

.lg__button {
  padding: 1rem 2rem;
}

.white__button:hover {
  transform: scale(1.05);
}
